@model List<WebSiteWebLevelPageListModel>
@{
    var masterModel = ViewData["WebSiteMaster"] as Services.Models.WebSite.WebSiteMasterModel;
    var LangSysCategory = masterModel.sysCategories;
}
<!-- 列表樣式六 -->
<div class="list5-2 row mb-5 g-3">
    @{
        foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-md-4">
                <a href="@item.url" class="d-block px-5 py-4 text-center d-flex justify-content-center align-items-center" @Html.Raw(CommFun.getattr(item.target, item.webLevel.Title, @LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-33")?.Value))>
                    <b class="mb-0 fw-normal">@item.webLevel.Title</b>
                </a>
            </div>
        }
    }
</div>