
<div class="simpleTree-nodeContainer hasChild">
    <div class="simpleTree-indent"></div>
    <div class="simpleTree-toggle"></div>
    <div class="simpleTree-label">assets</div>
    <span class="editBar1">
    </span>
</div>
<div class="simpleTree-childrenContainer">
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>
        <div class="simpleTree-label folder0" data-folder="assets/css">css</div>
        <span class="editBar1">
        </span>
    </div>
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>
        <div class="simpleTree-label folder0" data-folder="assets/img">img</div>
        <span class="editBar1">
        </span>
    </div>
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>
        <div class="simpleTree-label folder0" data-folder="assets/js">js</div>
        <span class="editBar1">
        </span>
    </div>
</div>
<div class="simpleTree-nodeContainer hasChild">
    <div class="simpleTree-indent"></div>
    <div class="simpleTree-toggle"></div>
    <div class="simpleTree-label">ACS/assets</div>
    <span class="editBar1">
    </span>
</div>
<div class="simpleTree-childrenContainer">
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>

        <div class="simpleTree-label folder0" data-folder="ACS/assets/css">css</div>
        <span class="editBar1">
        </span>
    </div>
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>

        <div class="simpleTree-label folder0" data-folder="ACS/assets/img">img</div>
        <span class="editBar1">
        </span>
    </div>
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>

        <div class="simpleTree-label folder0" data-folder="ACS/assets/js">js</div>
        <span class="editBar1">
        </span>
    </div>
</div>
<div class="simpleTree-nodeContainer hasChild">
    <div class="simpleTree-indent"></div>
    <div class="simpleTree-toggle"></div>
    <div class="simpleTree-label"  >ADI/assets</div>
    <span class="editBar1">
    </span>
</div>
<div class="simpleTree-childrenContainer">
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>
        <div class="simpleTree-label folder0" data-folder="ADI/assets/css">css</div>
        <span class="editBar1">
        </span>
    </div>
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>
        <div class="simpleTree-label folder0" data-folder="ADI/assets/img">img</div>
        <span class="editBar1">
        </span>
    </div>
    <div class="simpleTree-nodeContainer hasChild">
        <div class="simpleTree-indent"></div>
        <div class="simpleTree-label folder0" data-folder="ADI/assets/js">js</div>
        <span class="editBar1">
        </span>
    </div>
</div>