@model HomeModel.MODAIndexModel
@{
    var masterModel = ViewData["WebSiteMaster"] as Services.Models.WebSite.WebSiteMasterModel;
    var LangSysCategory = masterModel.sysCategories;
    var md = Model.Children;
}
@{
    <!-- 0. kv 主視覺 -主視覺維護-->
    <partial name="~/Views/MODA/Banner1.cshtml" model=@md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "banner1") />
    <!-- 5. idxVideo 影音專區-頁籤維護-->
    <partial name="~/Views/MODA/Media6.cshtml" model=@md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "video6") />
    <!-- 5. imgvideo9 輪播圖片-輪播圖片-->
    <partial name="~/Views/MODA/Imgvideo9.cshtml" model=@md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "imgvideo9") />
    <!-- 0. hint 跑馬燈-文字維護-->
    <partial name="~/Views/MODA/Hint8.cshtml" model=@md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "hint8") />
    <div class="a11yBrickBar1 wrap2 mx-auto px-3 px-md-4 px-lg-5" data-aos="fade-up"><a href="#AC" id="AC" accesskey="C" class="a11yBrick position-absolute" title="@LangSysCategory.FirstOrDefault(x=>x.SysCategoryKey==masterModel.Master.WebSiteID +"-7-30")?.Value">:::</a></div>
    <!-- 2. idxNews 公告訊息-頁籤維護-->
    <partial name="~/Views/MODA/Tab3.cshtml" model=@md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "tab3") />
    <!-- 1. idxFocus 核心業務-主視覺維護-->
    <partial name="~/Views/MODA/Banner2.cshtml" model=@md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "banner2") />
    var Tab4 = md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "news4");   //政策計畫-頁籤維護
    var Tab5 = md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "tab5");    //焦點議題-頁籤維護
    <!-- 政策計畫-頁籤維護 & 焦點議題-頁籤維護-->
    if (Tab4 != null || Tab5 != null)
    {
        <div class="idxBg2">
            <!-- 3. idxIssue 政策計畫-頁籤維護-->
            <partial name="~/Views/MODA/Tab4.cshtml" model=@Tab4 />
            <!-- 4. idxPlan 焦點議題-頁籤維護-->
            <partial name="~/Views/MODA/Tab5.cshtml" model=@Tab5 />
        </div>
    }
    <!-- 6. idxPartner 相關連結-連結維護(標題、連結、圖檔)-->
    <partial name="~/Views/MODA/Link7.cshtml" model=@md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "link7") />
    <!-- 配合宣導專區-->
    <partial name="~/Views/MODA/Link10.cshtml" model=@md.FirstOrDefault(x => x.LevelView.BasicLevel.WebLevelKey == "link10") />

}