@model Services.Models.WebSite.TitleBarModel
<div class="titleBar2 row">
    <div class="col">
        <h2 class="title3 mb-0 fw-normal"><span class="titleTxt">@Model.Title</span></h2>
    </div>
    <div class="col-auto text-end d-flex">
        <ul class="shareBar list-unstyled list-inline mb-0">
            <!-- 分享 -->
            <li class="list-inline-item">
                <a href="javascript:;" title="社群分享"><i class="ci ci-share"></i><span class="visually-hidden">社群分享</span></a>
                <ul class="shareBarMenu list-unstyled">
                    <li><a class="fbShareBtn fbShareJs" href="javascript:;" title="分享至facebook(另開新視窗)"><i class="bi bi-facebook"></i><span class="visually-hidden">Facebook</span></a></li>
                    <li><a class="ttShareBtn ttShareJs" href="javascript:;" title="分享到Twitter(另開新視窗)"><i class="bi bi-twitter"></i><span class="visually-hidden">Twitter</span></a></li>
                    <li><a class="lineShareBtn lineShareJs" href="javascript:;" title="分享到LINE(另開新視窗)"><i class="bi bi-line"></i><span class="visually-hidden">LINE</span></a></li>
                </ul>
            </li>
            <li class="list-inline-item d-none d-md-inline-block">
                <a class="printBtn printJs" href="javascript:;" title="列印頁面內容"><i class="ci ci-print"></i><span class="visually-hidden">列印</span></a>
            </li>
            @if (Model.needSearch)
            {
                <li class="list-inline-item">
                    <a href="javascript:;" class="searchSwitch searchSwitchJs" data-opentitle="展開查詢" data-closetitle="收合查詢" title="展開查詢"><i class="ci ci-open"></i><span class="visually-hidden">展開查詢</span></a>
                </li>
            }
        </ul>
    </div>
</div>
